extends ../layout

block content
    h1 #{ title }
    table.table
        thead
            tr.row
                th(scope="col").col-md-2 Title
                th(scope="col").col-md-2 Author
                th(scope="col").col-md-2 Date
                th(scope="col").col-md-3 Image
                th(scope="col").col-md-3 Contents
        tbody
            for article in articles
                tr.row
                    td.col-md-2
                        a(href='view_article/'+article.id) #{article.title}
                    td.col-md-2
                        span #{article.author}
                    td.col-md-2
                        include ./article_date.pug
                        +article_date(article.date)
                    td.col-md-3
                        img.img_fluid.article_list_image(src=article.image_url alt=article.image_caption)
                    td.col-md-3
                        span #{article.contents}