extends ../layout

block content
    img.article_page_image(src=article.image_url alt=article.image_caption)
    br
    p #{article.image_caption}
    h1 #{article.title}
    p By #{article.author} | #{article.category}
    include ./article_date.pug
    +article_date(article.date)
    br
    p.display_article_contents #{article.contents}